html 
{
    font-size: 16px;
}

@media (min-width: 768px) 
{
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus
{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
    position: relative;
    min-height: 100%;
}

body {
    background: #1a1a1a;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar.navbar-light {
    background-color: MediumTurquoise !important;
}

.navbar.navbar-light .navbar-brand,
.navbar.navbar-light .nav-link 
    {
        color: white !important; 
    }

.footer {
    background-color: MediumTurquoise;
    color: white !important;
    padding: 0.5px 0;
    text-align: center;
}
