html 
{
    font-size: 16px;
}

@media (min-width: 768px) 
{
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus
{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
    position: relative;
    min-height: 100%;
}

/*style of the project, colors of the project*/
body {
    background: #1a1a1a;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*navigational bar colors*/

.navbar.navbar-light,
.navbar.navbar-light .navbar-brand,
.navbar.navbar-light .nav-link 
    {
        color: white !important; 
    background-color: cadetblue !important;
    }

/*footer of the layout colors*/
.footer {
    background-color: cadetblue;
    color: white !important;
    padding: 1px 0;
    text-align: center;
}
